body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
 /*Inicio Cabeçalho */
  .cabecalho {

    padding-top: 10px;
  background: #0c131d;
  width: 100%;
  height: 60px;
  border-bottom:  3px solid crimson;
  
  }

  
  .caixa_cadastro{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto; 
  }
  .img_logo{
    position: relative;
    width: 7%;
    top: -28px;
    left: 3%;
  }

  ul{
    color: white;
    list-style: none;

  }

  .item_cor{
    color: crimson;
  }

  

  .cabecalho nav{
    float: right;
    margin: 0%;
  }

  ul li {
    display: inline;
  margin-left: 20px;
  font-size: medium;
  color: white;
  position: relative;
  list-style: none;
  right: 30%;
  }

  /*Fim Cabeçalho*/


  .login{
    position: relative;
    width: 40%;
    color: crimson ;
    top: 15px;
    left: 10%;
}

.caixa_login{
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 10px 7px #ccc;
    padding: 10% 0%;
    border-radius: 20px;
    left: 2%;
    top: 90px;
    color: crimson;;
    

}

.h2_texto{
  text-align: center;
}

.img_logo2{
    position: relative;
    top: -311px;
    left: 60%;
}

.div_login{
    padding-top: 30px;
    
}

.inp_padrao{
    float: right;
    position: relative;
    right: 101px;
    width: 58%;
    border-radius: 15px;
    border: 2px solid crimson ;
    color: crimson;
}

.btn_padrao{
    position: relative;
    left: 50%;
    margin-top: 15px;
    border: 2px solid crimson;
    color: white;
    background-color: crimson;
    cursor: pointer;
    height: 36px;
    
}


.rodape{
    padding-top: 0px;
    background: #0c131d;
    width: 100%;
    height: 100px;
    color: crimson;
    position: relative;
    top: -242px;
      }
    
      .rodape h4{
        text-align: center;
        position: relative;
        top: 55%;
      }