body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    
  }
 /*Inicio Cabeçalho */
  .cabecalho {
    position: relative;
    padding-top: 10px;
  background: #0c131d;
  width: 100%;
  height: 5vw;
  border-bottom:  3px solid crimson;
  
  }

  
  .caixa_cadastro{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto; 
  }
  .img_logo{
    position: relative;
    width: 5vw;
    left: 3%;
  }

  ul{
    color: white;
    list-style: none;

  }

  .item_cor{
    color: crimson;
  }

  

  .cabecalho nav{
    float: right;
    margin: 0%;
  }

  ul li {
    display: inline;
  margin-left: 20px;
  font-size: medium;
  color: white;
  position: relative;
  list-style: none;
  right: 30%;
  }

  /*Fim Cabeçalho*/


  .login{
    display: flex;
    position: relative;
    width: 100%;
    color: crimson ;
}

.caixa_login{
  position: relative;
  background-color: white;
  box-shadow: 10px 10px 10px 7px #ccc;
  border-radius: 20px;
  color: crimson;
  width: 40%;
  margin: auto 2.5%;
  padding: 2.5%;
  height: 80%;
    

}

.h2_texto{
  text-align: center;
}

.img_logo2{
  position: relative;
  width: 100%;
}

.div_login{
    padding-top: 30px;
    
}

.inp_padrao{
    float: right;
    position: relative;
    right: 101px;
    width: 58%;
    border-radius: 15px;
    border: 2px solid crimson ;
    color: crimson;
}

.btn_padrao{
    position: relative;
    left: 50%;
    margin-top: 15px;
    border: 2px solid crimson;
    color: white;
    background-color: crimson;
    cursor: pointer;
    height: 36px;
    
}

.div_img {
  width: 40%;
  float: right;
  margin: 5%;
}


.rodape{
    
    background: #0c131d;
    width: 100%;
    height: 100px;
    color: crimson;
    position: relative;
   
      }
    
      .rodape h4{
        text-align: center;
        position: relative;
        top: 55%;
      }