body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;

    

}

.cabecalho {

    padding-top: 10px;
  background: #0c131d;
  width: 100%;
  height: 60px;
  border-bottom:  3px solid crimson;
  
  }

  
  .caixa_cadastro{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto; 
  }
  .img_logo{
    position: relative;
    width: 7%;
    top: -28px;
    left: 3%;
  }

  ul{
    color: white;
    list-style: none;

  }
  
  .cabecalho nav{
    float: right;
    margin: 0%;
  }

  ul li {
    display: inline;
  margin-left: 20px;
  font-size: medium;
  color: white;
  position: relative;
  list-style: none;
  right: 30%;
  }

  .item_colorido{
      color: crimson;
  }



/*Fim cabeçalho*/

.div_sobre{

    position: relative;
    width: 50%;
    color: crimson;
    left: 25%;
}


.img_justdoit{
    position: relative;
    left: 52%;
    ;
}

.img_deusa{
    position: relative;
    left: 6%;
   
    width: 20%;
}

.rodape{
    position: relative;
    padding-top: 0px;
    background: #0c131d;
    width: 100%;
    height: 100px;
    top: 2px;
    color: crimson;
    }
  
    .rodape h4{
      text-align: center;
      position: relative;
      top: 55%;
    }